.header {
    width: 100%;
    margin: 0 auto;
}

.header__container {
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(134, 133, 133);
}

.header__logo {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 500;
}