.stud-form {
    background-image: url('/background-1080.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    animation: fadeIn 1s ease-out;
}

.stud-form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 4px solid #B7C9E3;
    background-color: #fff;
    padding: 2rem 5rem;
    margin: 100px auto 0px;
    max-width: 50%;
}

.stud-form__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.stud-form__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.stud-form__info-date,
.stud-form__info-place {
    text-align: center;
    font-size: 1rem;
}

.stud-form__info-desc {
    text-align: left;
}

.stud-form__input-group {
    text-align: center;
    margin-bottom: 70px;
}

.stud-form__textarea {
    margin-bottom: 30px;
    resize: none;
}

.stud-form__input,
.stud-form__textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-sizing: border-box;
}

.stud-form__rating {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.stud-form__star {
    cursor: pointer;
    font-size: 3rem;
    margin: 0 5px;
}

.stud-form__star:hover {
    opacity: 0.5;
}

.stud-form__star_filled {
    font-size: 3rem;
    color: gold;
}

.stud-form__praise-group {
    text-align: center;
    margin-bottom: 20px;
}

.stud-form__praise-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.stud-form__praise-options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

.stud-form__praise-button {
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.4s;
}

.stud-form__praise-button p {
    max-width: 100%;
}

.stud-form__praise-button img {
    height: 100px;
}

.stud-form__praise-button img {
    margin-right: 10px;
}

.stud-form__praise-button.positive:hover {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.stud-form__praise-button.negative:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.stud-form__praise-button:hover {
    transform: scale(1.1);
}

.stud-form__submit-button {
    width: 250px;
    padding: 10px;
    background-color: #012235;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 0.75rem 0;
    opacity: 85%;
    margin: auto;
    display: block;
    font-size: medium;
    transition: all 0.3s ease;
}

.stud-form__submit-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent);
    transition: all 0.5s;
}

.stud-form__submit-button:hover {
    background-color: #006DAB;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.stud-form__submit-button:hover::before {
    left: 100%;
}

.stud-form__submit-button:active {
    background-color: #02C2FF;
    transform: translateY(-1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .stud-form__container {
        max-width: 70%;
        padding: 2rem 3rem;
    }

    .stud-form__praise-options {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .stud-form__container {
        max-width: 90%;
        padding: 1.5rem 2rem;
    }

    .stud-form__info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .stud-form__praise-options {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .stud-form__container {
        width: 95%;
        padding: 1rem;
    }

    .stud-form__title {
        font-size: 1.2rem;
    }

    .stud-form__input,
    .stud-form__textarea {
        font-size: 0.9rem;
    }

    .stud-form__submit-button {
        padding: 1rem 0rem;
    }
}