.stud-form-header {
    width: 100%;
    margin: 0 auto;
}

.header__container {
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(134, 133, 133);
}

.header__logo {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header__logo:hover {
    color: #4a90e2;
    transform: scale(1.05);
}